@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto:wght@400;500;700;900&display=swap");
:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --client-color: #afb1b8;
  --secondary-black-color: #000000;
  --bcg-color: #f5f4fa;
  --color-board-btn-close: rgba(0, 0, 0, 0.1);
  --color-board-card: #eeeeee;
  --color-board-header: #ececec;
  --color-board-input-footer: rgba(255, 255, 255, 0.3);
  --color-board-input-modal: rgba(33, 33, 33, 0.2);
  --color-contact-footer: rgba(255, 255, 255, 0.6);
  --color-input-footer: rgba(255, 255, 255, 0.6);
  --color-placeholder-modal: rgba(117, 117, 117, 0.5);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --bg-btn-hover: #188ce8;
  --bg-work: rgba(47, 48, 58, 0.8);
  --bg-footer: #2f303a;
  --bg-hero: #c4c4c4;
  --bg-overlay-card-portfolio: rgba(33, 150, 243, 0.9);
  --bg-social-icon-footer: rgba(255, 255, 255, 0.1);
  --bg-link-social-team: transparent;
  --bg-client: transparent;
  --duration-primary: 250ms;
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Raleway", sans-serif;
  --font-size-primary: 14px;
  --letter-spacing-primary: 0.03em;
  --line-height-primary: 1.14;
  --gap: 30px;
  --margin-menu-item: 50px;
  --margin-contact-item: 30px;
  --padding-container: 15px;
  --padding-hero-under-1200: 118px;
  --padding-hero-1200: 200px;
  --padding-menu-mobile: 48px 40px;
  --padding-modal: 40px;
  --padding-section-under-1200: 60px;
  --padding-section-1200: 94px;
  --radius-board-primary: 4px;
  --shadow-card-team: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-btn: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --shadow-btn-filter: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-menu-mobile: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  --timing-primary: cubic-bezier(0.4, 0, 0.2, 1);
  --width-card-768: 354px;
  --width-container-480: 480px;
  --width-container-768: 768px;
  --width-container-1200: 1200px;
  --width-page: 1600px;
  --width-form-modal-under-1200: 370px;
  --width-form-modal-1200: 448px;
}

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway-Bold.eot");
  src: local("вє"), url("../../fonts/Raleway-Bold.woff") format("woff"), url("../../fonts/Raleway-Bold.ttf") format("truetype"), url("../../fonts/Raleway-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Regular.eot");
  src: local("вє"), url("../../fonts/Roboto-Regular.woff") format("woff"), url("../../fonts/Roboto-Regular.ttf") format("truetype"), url("../../font/Roboto-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Medium.eot");
  src: local("вє"), url("../../fonts/Roboto-Medium.woff") format("woff"), url("../../fonts/Roboto-Medium.ttf") format("truetype"), url("../../fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Bold.eot");
  src: local("вє"), url("../../fonts/Roboto-Bold.woff") format("woff"), url("../../fonts/Roboto-Bold.ttf") format("truetype"), url("../../fonts/Roboto-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../../fonts/Roboto-Black.eot");
  src: local("вє"), url("../../fonts/Roboto-Black.woff") format("woff"), url("../../fonts/Roboto-Black.ttf") format("truetype"), url("../../fonts/Roboto-Black.svg") format("svg");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: var(--font-family-primary);
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: var(--font-size-primary);
  letter-spacing: var(--letter-spacing-primary);
  line-height: var(--line-height-primary);
}

.body-fixed {
  position: fixed;
  width: 100%;
}

h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

*:focus-visible {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.client__icon, .modal__close-icon, .social__icon {
  display: block;
  fill: currentColor;
}

.sign-up__join, .social__join {
  display: block;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.client__title, .team__title, .work__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: var(--title-text-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client__title, .team__title, .work__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  -webkit-box-shadow: var(--shadow-btn);
          box-shadow: var(--shadow-btn);
  background-color: var(--accent-color);
  border: none;
  border-radius: var(--radius-board-primary);
  cursor: pointer;
  -webkit-transition: background-color var(--duration-primary) var(--timing-primary);
  transition: background-color var(--duration-primary) var(--timing-primary);
}

.button:hover,
.button:focus {
  background-color: var(--bg-btn-hover);
}

.section {
  margin: 0 auto;
  text-align: center;
  padding-top: var(--padding-section-under-1200);
  padding-bottom: var(--padding-section-under-1200);
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: var(--padding-section-1200);
    padding-bottom: var(--padding-section-1200);
  }
}

.container {
  width: 100%;
  padding-left: var(--padding-container);
  padding-right: var(--padding-container);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: var(--width-container-480);
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: var(--width-container-768);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: var(--width-container-1200);
  }
}

.social {
  color: var(--primary-white-color);
}
.social__list, .social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  color: inherit;
  border: none;
  border-radius: 50%;
  background-color: var(--bg-social-icon-footer);
  padding: 12px;
  -webkit-transition: background-color var(--duration-primary) var(--timing-primary);
  transition: background-color var(--duration-primary) var(--timing-primary);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}
.social__link--refill {
  color: var(--client-color);
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}
.social__link--refill:hover, .social__link--refill:focus {
  color: var(--primary-white-color);
}

/* header */
.header {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--color-board-header);
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 767px) {
  .menu__backdrop.is-open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-white-color);
    z-index: 1;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__button {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu__button {
    position: absolute;
    top: 50%;
    right: 0px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 0;
    margin: 0;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--title-text-color);
    cursor: pointer;
  }
}
.menu__button:hover, .menu__button:focus {
  color: var(--accent-color);
}

.menu__icon-menu {
  display: block;
  width: 24px;
  height: 16px;
  opacity: 1;
  fill: currentColor;
  -webkit-transition: opacity var(--duration-primary) var(--timing-primary);
  transition: opacity var(--duration-primary) var(--timing-primary);
}

@media screen and (min-width: 768px) {
  .menu__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    height: 100%;
  }
}
@media screen and (max-width: 767px) {
  .menu__container {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: 100%;
    padding: 48px 40px;
    -webkit-box-shadow: var(--shadow-menu-mobile);
            box-shadow: var(--shadow-menu-mobile);
    z-index: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu__container.is-open {
    z-index: 2;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu__container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
}

.menu__button-close {
  display: none;
}
@media screen and (max-width: 767px) {
  .menu__button-close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--title-text-color);
    cursor: pointer;
    z-index: 3;
  }
}
.menu__button-close:hover, .menu__button-close:focus {
  color: var(--accent-color);
}

.menu__icon-close {
  display: block;
  width: 19px;
  height: 19px;
  opacity: 0;
  fill: currentColor;
  -webkit-transition: opacity var(--duration-primary) var(--timing-primary);
  transition: opacity var(--duration-primary) var(--timing-primary);
}
.menu__button-close.is-open .menu__icon-close {
  opacity: 1;
}

.container__logo {
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .container__contact {
    margin-top: auto;
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 768px) {
  .container__contact {
    margin-left: 84px;
  }
}
@media screen and (min-width: 1200px) {
  .container__contact {
    margin-left: 305px;
  }
}

.logo {
  display: block;
  font-family: var(--font-family-secondary);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--secondary-black-color);
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo--accent {
  color: var(--accent-color);
}

.footer__logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation__item + .navigation__item {
    margin-top: 32px;
  }
}
@media screen and (min-width: 768px) {
  .navigation__item + .navigation__item {
    margin-left: var(--margin-menu-item);
  }
}

.navigation__link {
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}
.navigation__link--current {
  color: var(--accent-color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .navigation__link {
    font-size: 40px;
    line-height: 1.175;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0;
  }
}
@media screen and (min-width: 768px) {
  .navigation__link--current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    background-color: var(--accent-color);
    border-radius: 2px;
    height: 4px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .contact__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item + .contact__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item + .contact__item {
    margin-left: var(--margin-contact-item);
    height: 100%;
  }
}

.contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}
.contact__link:hover, .contact__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .contact__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.143;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    font-size: 14px;
    line-height: 1.143;
  }
}

@media screen and (max-width: 767px) {
  .contact__link--accent {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .contact__item:nth-child(1) {
    font-size: 24px;
    line-height: 1.167;
  }
}

@media screen and (max-width: 767px) {
  .contact__item:nth-child(2) {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.176;
  }
}

@media screen and (max-width: 767px) {
  .contact__icon {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon {
    display: block;
    fill: currentColor;
  }
}
@media screen and (min-width: 768px) {
  .contact__icon--prepend {
    margin-right: 10px;
  }
}

.social-menu {
  display: none;
}
@media screen and (min-width: 280px) and (max-width: 767px) {
  .social-menu {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
    top: -10px;
  }
}

.social-menu__item {
  margin-top: 10px;
}
.social-menu__item + .social-menu__item {
  border-left: 1px solid var(--color-board-input-modal);
}

@media screen and (min-width: 358px) and (max-width: 449px) {
  .social-menu__item:last-child {
    border-left: none;
  }
}

@media screen and (min-width: 280px) and (max-width: 356px) {
  .social-menu__item:nth-child(3) {
    border-left: none;
  }
}
@media screen and (min-width: 357px) and (max-width: 449px) {
  .social-menu__item:nth-child(3) {
    border-left: 1px solid var(--color-board-input-modal);
  }
}

.social-menu__link {
  display: inline-block;
  text-decoration: none;
  padding: 0 10px;
  background-color: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* main */
.hero__section {
  max-width: 1600px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-hero);
  color: var(--primary-white-color);
  text-align: center;
  padding-top: var(--padding-hero-under-1200);
  padding-bottom: var(--padding-hero-under-1200);
}
@media screen and (max-width: 479px) {
  .hero__section {
    max-width: 480px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-480.jpeg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-480.jpeg");
  }
}
@media screen and (max-width: 479px) and (min-device-pixel-ratio: 2), screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 479px) and (min-resolution: 192dpi), screen and (max-width: 479px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-960.jpeg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-960.jpeg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__section {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-768.jpeg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-768.jpeg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-1536.jpeg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1536.jpeg");
  }
}
@media screen and (min-width: 768px) {
  .hero__section {
    max-width: 1600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-1600.jpeg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-1600.jpeg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-3200.jpeg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-3200.jpeg");
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: var(--padding-hero-1200);
    padding-bottom: var(--padding-hero-1200);
    height: 600px;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10;
  background-color: var(--bg-backdrop);
  visibility: visible;
  -webkit-transition: visibility var(--duration-primary) var(--timing-primary);
  transition: visibility var(--duration-primary) var(--timing-primary);
}

.backdrop--is-hidden {
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: visibility var(--duration-primary) var(--timing-primary);
  transition: visibility var(--duration-primary) var(--timing-primary);
}

.modal {
  position: relative;
  padding: var(--padding-modal);
  background-color: var(--primary-white-color);
  border-radius: var(--radius-board-primary);
  -webkit-box-shadow: var(--shadow-modal);
          box-shadow: var(--shadow-modal);
  z-index: 20;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  color: var(--secondary-black-color);
  border: 1px solid var(--color-board-btn-close);
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  z-index: 20;
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  color: var(--accent-color);
}

.backdrop--is-hidden .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}

.backdrop__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  -webkit-transition: opacity var(--duration-primary) var(--timing-primary), -webkit-transform var(--duration-primary) var(--timing-primary);
  transition: opacity var(--duration-primary) var(--timing-primary), -webkit-transform var(--duration-primary) var(--timing-primary);
  transition: opacity var(--duration-primary) var(--timing-primary), transform var(--duration-primary) var(--timing-primary);
  transition: opacity var(--duration-primary) var(--timing-primary), transform var(--duration-primary) var(--timing-primary), -webkit-transform var(--duration-primary) var(--timing-primary);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: var(--width-form-modal-under-1200);
  text-align: left;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 479px) {
  .form {
    width: calc(100vw - 80px);
  }
}
@media screen and (min-width: 1200px) {
  .form {
    width: var(--width-form-modal-1200);
  }
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .form__title {
    line-height: 1.17;
  }
}

.form__field-group {
  width: 100%;
  font-size: 16px;
  line-height: 1.125;
  margin-bottom: 20px;
}

.form__field {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
.form__field:focus-within > .form__icon {
  fill: var(--accent-color);
}

.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  padding: 0;
  margin-bottom: 4px;
}

.form__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid var(--color-board-input-modal);
  border-radius: var(--radius-board-primary);
  padding-left: 42px;
  color: var(--primary-text-color);
  -webkit-transition: border var(--duration-primary) var(--timing-primary);
  transition: border var(--duration-primary) var(--timing-primary);
}
.form__input:focus-within {
  border: 1px solid var(--accent-color);
}

.form__icon {
  display: block;
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--title-text-color);
  -webkit-transition: fill var(--duration-primary) var(--timing-primary);
  transition: fill var(--duration-primary) var(--timing-primary);
}

.form__textarea {
  display: block;
  width: 100%;
  min-height: 120px;
  border: 1px solid var(--color-board-input-modal);
  border-radius: var(--radius-board-primary);
  color: var(--primary-text-color);
  padding: 12px 16px;
  margin: 0;
  resize: none;
  -webkit-transition: border var(--duration-primary) var(--timing-primary);
  transition: border var(--duration-primary) var(--timing-primary);
}
.form__textarea:focus-within {
  border: 1px solid var(--accent-color);
}
.form__textarea::-webkit-input-placeholder {
  color: var(--color-placeholder-modal);
}
.form__textarea::-moz-placeholder {
  color: var(--color-placeholder-modal);
}
.form__textarea:-ms-input-placeholder {
  color: var(--color-placeholder-modal);
}
.form__textarea::-ms-input-placeholder {
  color: var(--color-placeholder-modal);
}
.form__textarea::placeholder {
  color: var(--color-placeholder-modal);
}

.form__checkbox-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}
@media screen and (max-width: 446px) {
  .form__checkbox-label {
    font-size: 10px;
    line-height: 1.666;
  }
}
@media screen and (max-width: 389px) {
  .form__checkbox-label {
    font-size: 9px;
    line-height: 1.666;
  }
}
@media screen and (min-width: 1200px) {
  .form__checkbox-label {
    font-size: 14px;
    line-height: 1.071;
  }
}

.form__checkbox-link {
  color: var(--accent-color);
  padding: 0;
  margin: 0;
}

.form__custom-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  z-index: -1;
}

.form__icon-unchecked {
  opacity: 1;
  -webkit-transition: opacity var(--duration-primary) var(--timing-primary);
  transition: opacity var(--duration-primary) var(--timing-primary);
}
.checkbox:checked + .form__custom-checkbox .form__icon-unchecked {
  opacity: 0;
}

.form__icon-checked {
  opacity: 0;
  fill: var(--accent-color);
  -webkit-transition: opacity var(--duration-primary) var(--timing-primary);
  transition: opacity var(--duration-primary) var(--timing-primary);
}
.checkbox:checked + .form__custom-checkbox .form__icon-checked {
  opacity: 1;
}

@media screen and (min-width: 1200px) {
  .achievement__section {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .achievement__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 479px) {
  .achievement__item {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .achievement__item + .achievement__item {
    margin-top: var(--gap);
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .achievement__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .achievement__item {
    -ms-flex-preferred-size: calc(50% - var(--gap));
        flex-basis: calc(50% - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}
@media screen and (min-width: 1200px) {
  .achievement__item {
    -ms-flex-preferred-size: calc(25% - var(--gap));
        flex-basis: calc(25% - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

.achievement__thumb {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bcg-color);
  margin-bottom: 30px;
}

.achievement__title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .achievement__title {
    text-align: left;
  }
}

.achievement__text {
  line-height: 1.71;
  text-align: left;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.work__item {
  position: relative;
}

.work__subtitle {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--bg-work);
}

.team {
  background-color: var(--bcg-color);
}
@media screen and (min-width: 768px) {
  .team__card-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__card {
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: var(--shadow-card-team);
          box-shadow: var(--shadow-card-team);
}
@media screen and (max-width: 479px) {
  .team__card {
    width: 100%;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team__card {
    width: 450px;
  }
}
@media screen and (max-width: 767px) {
  .team__card + .team__card {
    margin-top: var(--gap);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__card {
    -ms-flex-preferred-size: calc(50% - var(--gap));
        flex-basis: calc(50% - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc(25% - var(--gap));
        flex-basis: calc(25% - var(--gap));
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

@media screen and (max-width: 479px) {
  .team__thumb {
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .team__thumb {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__thumb {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__thumb {
    width: 270px;
  }
}

.team__description {
  background-color: var(--primary-white-color);
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__description {
    padding-bottom: 30px;
  }
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team__position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  margin-bottom: 16px;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client__item {
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-left: var(--gap);
  margin-top: var(--gap);
}
@media screen and (min-width: 768px) {
  .client__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    -ms-flex-preferred-size: calc(100% / 6 - 30px);
        flex-basis: calc(100% / 6 - 30px);
    margin-left: var(--gap);
    margin-top: var(--gap);
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  width: 100%;
  height: 92px;
  color: var(--client-color);
  background-color: var(--bg-client);
  border: 1px solid var(--client-color);
  border-radius: var(--radius-board-primary);
  -webkit-transition: color var(--duration-primary) var(--timing-primary), border var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary), border var(--duration-primary) var(--timing-primary);
}
.client__link:hover, .client__link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* portfolio */
.portfolio__filter-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__filter-set--append {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .portfolio__filter-set {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__filter-set--append {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__filter-set--append {
    margin-bottom: 50px;
  }
}

.portfolio__filter:not(:last-child) {
  margin-right: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio__filter {
    margin-bottom: 15px;
  }
}

.portfolio__button {
  background-color: var(--bcg-color);
  color: var(--title-text-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color var(--duration-primary) var(--timing-primary), background-color var(--duration-primary) var(--timing-primary), -webkit-box-shadow var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary), background-color var(--duration-primary) var(--timing-primary), -webkit-box-shadow var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary), background-color var(--duration-primary) var(--timing-primary), box-shadow var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary), background-color var(--duration-primary) var(--timing-primary), box-shadow var(--duration-primary) var(--timing-primary), -webkit-box-shadow var(--duration-primary) var(--timing-primary);
}
.portfolio__button--accent {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio__button:hover, .portfolio__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  -webkit-box-shadow: var(--shadow-btn-filter);
          box-shadow: var(--shadow-btn-filter);
}

.portfolio__card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  text-align: left;
}

.portfolio__card {
  margin-left: var(--gap);
  margin-top: var(--gap);
  -ms-flex-preferred-size: calc(100vw - 30px);
      flex-basis: calc(100vw - 30px);
}
@media screen and (min-width: 480px) {
  .portfolio__card {
    -ms-flex-preferred-size: var(--width-container-480) -30px;
        flex-basis: var(--width-container-480) -30px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio__card {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__card {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: inherit;
  -webkit-transition: -webkit-box-shadow var(--duration-primary) var(--timing-primary);
  transition: -webkit-box-shadow var(--duration-primary) var(--timing-primary);
  transition: box-shadow var(--duration-primary) var(--timing-primary);
  transition: box-shadow var(--duration-primary) var(--timing-primary), -webkit-box-shadow var(--duration-primary) var(--timing-primary);
}
.portfolio__card-link:hover, .portfolio__card-link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.potfolio__image-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-img {
  height: 294px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.portfolio__thumb-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  background-color: var(--bg-overlay-card-portfolio);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform var(--duration-primary) var(--timing-primary);
  transition: -webkit-transform var(--duration-primary) var(--timing-primary);
  transition: transform var(--duration-primary) var(--timing-primary);
  transition: transform var(--duration-primary) var(--timing-primary), -webkit-transform var(--duration-primary) var(--timing-primary);
}
.portfolio__card-link:hover .portfolio__thumb-overlay, .portfolio__card-link:focus .portfolio__thumb-overlay {
  -webkit-transform: translatey(0);
          transform: translatey(0);
}

.portfolio__text-overlay {
  font-size: 18px;
  line-height: 1.555;
  padding: 0 24px;
}

.portfolio__card-area {
  border: 1px solid var(--color-board-card);
  border-top: none;
  padding: 20px 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio__card-text {
  display: block;
  font-size: 16px;
  line-height: 1.88;
}

/* footer */
.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container_align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container_align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .container__info {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container__info {
    width: 354px;
    margin-bottom: 0;
    max-width: var(--width-card-768);
    margin-right: var(--gap);
  }
}
@media screen and (min-width: 1200px) {
  .container__info {
    margin-right: 70px;
  }
}

.container__social {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1190px) {
  .container__social {
    width: 354px;
    margin-bottom: 0;
    max-width: var(--width-card-768);
    margin-right: var(--gap);
  }
}

@media screen and (min-width: 1200px) {
  .container__sign-up {
    margin-left: auto;
  }
}

.address__list {
  display: block;
  font-style: normal;
  margin: 0;
}

.address__item {
  line-height: 1.71;
  color: var(--primary-white-color);
  margin-bottom: 9px;
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}
.address__item:hover, .address__item:focus {
  color: var(--accent-color);
}

.address__email {
  display: block;
  text-decoration: none;
  color: var(--color-contact-footer);
  line-height: 1.71;
  margin-bottom: 9px;
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}
.address__email:hover, .address__email:focus {
  color: var(--accent-color);
}

.address__tel {
  text-decoration: none;
  color: var(--color-contact-footer);
  line-height: 1.71;
  -webkit-transition: color var(--duration-primary) var(--timing-primary);
  transition: color var(--duration-primary) var(--timing-primary);
}
.address__tel:hover, .address__tel:focus {
  color: var(--accent-color);
}

.sign-up {
  color: var(--primary-white-color);
}

@media screen and (max-width: 1199px) {
  .sign-up__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.sign-up__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 50px;
  padding: 0;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-input-footer);
  background-color: transparent;
  border: 1px solid var(--color-board-input-footer);
  border-radius: var(--radius-board-primary);
}
@media screen and (max-width: 479px) {
  .sign-up__input {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .sign-up__input {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .sign-up__input {
    width: 358px;
    margin-right: 12px;
  }
}

.sign-up__icon {
  display: inline-block;
  fill: var(--primary-white-color);
}
.sign-up__icon--append {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */