.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10;

  background-color: var(--bcg-backdrop);

  visibility: visible;

  transition: visibility var(--primary-duration) var(--timing-primary);
}

.backdrop--is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility var(--primary-duration) var(--timing-primary);
}
