.contact__list {
  @media screen and (max-width: 767px) {
    @include positioning-flex(flex, start, flex-start);
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    @include positioning-flex(flex, start, flex-start);
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    @include positioning-flex($jc: start);
    height: 100%;
  }
}

.contact__item {
  & + & {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: var(--margin-contact-item);
      height: 100%;
    }
  }
}

.contact__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-link-header);
  text-decoration: none;
  transition: color var(--duration-primary) var(--timing-primary);

  &:hover,
  &:focus {
    color: var(--color-accent);
  }

  @media screen and (min-width: 768px) {
    @include positioning-flex(inline-flex, start);
    font-size: 14px;
    line-height: 1.143;
  }

  @media screen and (min-width: 1200px) {
    @include positioning-flex(inline-flex, start);
    height: 100%;
    font-size: 14px;
    line-height: 1.143;
  }
}

.contact__link--accent {
  @media screen and (max-width: 767px) {
    color: var(--color-accent);
  }
}

.contact__item:nth-child(1) {
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 1.167;
  }
}

.contact__item:nth-child(2) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.176;
  }
}
.contact__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
    fill: currentColor;
  }
  &--prepend {
    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
  }
}
