.header__container {
  @media screen and (max-width: 767px) {
    position: relative;
  }

  @media screen and (min-width: 768px) {
    @include positioning-flex($jc: start);
  }
}

.menu__button {
  display: none;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    border: none;
    @include positioning-flex();
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--color-icon-menu-mobile);
    cursor: pointer;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.menu__icon-menu {
  display: block;
  width: 24px;
  height: 16px;
  opacity: 1;
  fill: currentColor;
  transition: opacity var(--duration-primary) var(--timing-primary);
}

.menu__container {
  @media screen and (min-width: 768px) {
    @include positioning-flex($jc: start);
    text-align: left;
    height: 100%;
  }

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    height: 100%;
    padding: 48px 40px;
    box-shadow: var(--shadow-menu-mobile);
    z-index: 0;
  }
}

.menu__container.is-open {
  @media screen and (max-width: 767px) {
    z-index: 2;
    display: block;
    @include positioning-flex(flex, start, flex-start);
    flex-direction: column;
  }

  @media screen and (min-width: 768px) {
    @include positioning-flex($jc: start);
    text-align: left;
  }
}

.menu__button-close {
  display: none;
  @media screen and (max-width: 767px) {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    margin: 0;
    border: none;
    @include positioning-flex();
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: var(--color-icon-menu-mobile);
    cursor: pointer;
    z-index: 3;
  }

  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.menu__icon-close {
  display: block;
  width: 19px;
  height: 19px;
  opacity: 0;
  fill: currentColor;
  transition: opacity var(--duration-primary) var(--timing-primary);

  .menu__button-close.is-open & {
    opacity: 1;
  }
}

.container__logo {
  margin-right: auto;
}

.container__contact {
  @media screen and (max-width: 767px) {
    margin-top: auto;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    margin-left: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 305px;
  }
}
