.hero__section {
  max-width: 1600px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-hero);
  color: var(--color-title-hero);
  text-align: center;

  padding-top: var(--padding-hero-under-1200);
  padding-bottom: var(--padding-hero-under-1200);

  @media screen and (max-width: 479px) {
    max-width: 480px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-480.jpeg');
  }

  @media screen and (max-width: 479px) and (min-device-pixel-ratio: 2),
    screen and (max-width: 479px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (max-width: 479px) and (min-resolution: 192dpi),
    screen and (max-width: 479px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-960.jpeg');
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-768.jpeg');
  }

  @media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-1536.jpeg');
  }

  @media screen and (min-width: 768px) {
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-1600.jpeg');
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/hero-3200.jpeg');
  }

  @media screen and (min-width: 1200px) {
    padding-top: var(--padding-hero-1200);
    padding-bottom: var(--padding-hero-1200);
    height: 600px;
  }
}

.hero__container {
  @include positioning-flex($jc: start);
  flex-direction: column;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
