.section {
  margin: 0 auto;
  text-align: center;
  padding-top: var(--padding-section-under);
  padding-bottom: var(--padding-section-under);

  @media screen and (min-width: 1200px) {
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
  }
}
