body {
  font-family: var(--font-family-primary);
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-size: var(--font-size-primary);
  letter-spacing: var(--letter-spacing-primary);
  line-height: var(--line-height-primary);
}

.body-fixed {
  position: fixed;
  width: 100%;
}
